{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Abono list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Observacion</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('abono_show', { 'id': entity.id }) }}">{{ entity.descripcion }}</a></td>
                <td>{{ entity.observacion }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('abono_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('abono_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('abono_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
