{% extends '::base.html.twig' %}

{% block body -%}
    <h3>Abono</h3>

    <table class="record_properties table-striped">
        <tbody>
        <tr>
            <th>Fecha:</th>
            <td>{{ entity.fecha | date('Y-m-d H:i') }}</td>
        </tr>
        <tr>
            <th>Empleado:</th>
            <td>{{ entity.idEmpleado.nombre }}</td>
        </tr>
        <tr>
            <th>Descripcion:</th>
            <td>{{ entity.descripcion }}</td>
        </tr>
        <tr>
            <th>Observacion:</th>
            <td>{{ entity.observacion }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('abono') }}">
        Regresar a la lista
    </a>
    <div class="clearfix"></div>


    {{ render(controller('UpaoFundoBundle:Fundo:muestra', { 'plantas': plantas })) }}




{% endblock %}
