<div class="list-group">
    <a class="list-group-item" href="{{ path('abono') }}">Abono</a>
    <a class="list-group-item" href="{{ path('abonoplanta') }}">Abono Planta</a>
    <a class="list-group-item" href="{{ path('cliente') }}">Cliente</a>
    <a class="list-group-item" href="{{ path('cosecha') }}">Cosecha</a>
    <a class="list-group-item" href="{{ path('cosechaplanta') }}">Cosecha Planta</a>
    <a class="list-group-item" href="{{ path('empleado') }}">Empleado</a>
    <a class="list-group-item" href="{{ path('estadoambiente') }}">Estado Ambiente</a>
    <a class="list-group-item" href="{{ path('fumigacion') }}">Fumigación</a>
    <a class="list-group-item" href="{{ path('fumigacionplanta') }}">Fumigación Planta</a>
    <a class="list-group-item" href="{{ path('pedido') }}">Pedido</a>
    <a class="list-group-item" href="{{ path('planta') }}">Planta</a>
    <a class="list-group-item" href="{{ path('problema') }}">Problema</a>
    <a class="list-group-item" href="{{ path('proveedor') }}">Proveedor</a>
    <a class="list-group-item" href="{{ path('tipoplanta') }}">Tipo Planta</a>
    <a class="list-group-item" href="{{ path('venta') }}">Venta</a>

</div>