<!DOCTYPE html>
<html lang="en" class="js no-touch no-android chrome no-firefox no-iemobile no-ie no-ie10 no-ios">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{% block title %}Fundo "Las Lomas"{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!--[if ie]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <![endif]-->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>


    {% block og_extra %}
    {% endblock %}


    {% stylesheets
    'css/blitzer/jquery-ui.css'
    'css/bootstrap.css'
    'css/app.v2.css'
    'css/template.css'
    'css/font.css'
    'css/bootstrap-datetimepicker.css'
    'css/jquery.custombox.css'

    filter='?yui_css'
    output='assetic/css/fundo.min.css' %}
    <link rel="stylesheet" href="{{ asset(asset_url) }}"/>
    {% endstylesheets %}

    {% javascripts

    'js/app.v2.js'
    'js/jquery.cluetip.js'
    'js/bootstrap.js'
    'js/jquery.bsAlerts.js'
    'js/bootstrap-datetimepicker.js'
    'js/i18n/bootstrap-datetimepicker.es.js'
    'js/jquery-ui.js'
    'js/selectize.js'
    'js/fundo.js'
    'js/jquery.custombox.js'

    filter='?closure'
    output='assetic/js/fundo.min.js' %}
    <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}

    <style>
        [touch-action="none"] {
            -ms-touch-action: none;
            touch-action: none;
        }

        [touch-action="pan-x"] {
            -ms-touch-action: pan-x;
            touch-action: pan-x;
        }

        [touch-action="pan-y"] {
            -ms-touch-action: pan-y;
            touch-action: pan-y;
        }

        [touch-action="scroll"], [touch-action="pan-x pan-y"], [touch-action="pan-y pan-x"] {
            -ms-touch-action: pan-x pan-y;
            touch-action: pan-x pan-y;
        }
    </style>
</head>
<body style="" class="">
<section class="hbox stretch">
    <!-- .aside -->
    <aside class="bg-primary aside-md" id="nav">
        <section class="vbox">
            <header class="dker nav-bar nav-bar-fixed-top">
                <a class="btn btn-link visible-xs"
                   data-toggle="class:nav-off-screen" data-target="#nav">
                    <i class="icon-reorder">
                    </i>
                </a>
                <a href="{{ path('inicio') }}"
                   class="nav-brand" data-toggle="fullscreen">
                    Las Lomas</a>
            </header>
            <section class="w-f">
                <!-- nav -->
                <nav class="nav-primary hidden-xs">
                    <ul class="nav">
                        <li class="active">
                            <a href="{{ path('inicio') }}">
                                <span>Inicio</span>
                            </a>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="{{ path('inicio') }}"
                               class="dropdown-toggle" data-toggle="dropdown">
                                <span>Planta</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('abono') }}">Abonamientos</a>
                                </li>
                                <li>
                                    <a href="{{ path('riego') }}">Riegos</a>
                                </li>
                                <li>
                                    <a href="{{ path('cosecha') }}">Cosechas</a>
                                </li>
                                <li>
                                    <a href="{{ path('fumigacion') }}">Fumigaciones</a>
                                </li>
                                <li>
                                    <a href="{{ path('problema') }}">Problemas</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ path('estadoambiente') }}">
                                <span>Estado Ambiental</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('cliente') }}">
                                <span>Clientes</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('empleado') }}">
                                <span>Empleados</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('venta') }}">
                                <span>Ventas</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('pedido') }}">
                                <span>Pedidos</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('proveedor') }}">
                                <span>Proveedores</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('tipoplanta') }}">
                                <span>Tipos de Plantas</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- / nav -->
                <!-- note -->
                <!-- / note -->
            </section>

        </section>
    </aside>
    <!-- /.aside -->
    <!-- .vbox -->
    <section id="content">

        <section class="vbox">
            <!--
                        <header class="header bg-white b-b">Fundo "Las Lomas"</header>
               -->
            <section class="wrapper">

                <div class="row">
                    {% if layout == 'full' %}
                    <div class="col-xs-12 col-sm-12">
                        {% else %}
                        <div class="col-xs-12 col-sm-9">
                            {% endif %}



                            {% block featured %}{% endblock %}


                            {% for flashMessage in app.session.flashbag.get('error') %}
                                <div class="alert alert-danger">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('ok') %}
                                <div class="alert alert-success">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('alert') %}
                                <div class="alert">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('info') %}
                                <div class="alert alert-info">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}

                            <div class="col-lg-12">
                                {% block body %}{% endblock %}
                            </div>

                            {% if layout == 'full' %}
                        </div>
                        {% else %}
                    </div>
                    {% endif %}

                    {% if layout != 'full' %}
                        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                            {% block sidebar %}
                                {% include 'UpaoFundoBundle:Bloque:sidebar.html.twig' %}
                            {% endblock %}

                        </div>


                    {% endif %}

                </div>

            </section>
        </section>
    </section>

</section>


{% block javascript %}



{% endblock %}
<!-- Bootstrap -->
</body>
</html>
