<div style="width: 100%;overflow: auto">
    <ol class="fundo-region"
        style="width: {{  ancho }}px">

        {% for bloque in bloques %}


            <li class="ui-state-default {{ bloque.estado }}"
                data-planta="{{ bloque.planta }}"
                data-codigo="{{ bloque.codigo }}"
                data-fila="{{ bloque.fila }}"
                data-columna="{{ bloque.columna }}">

                <span class="tipo">{{ bloque.tipo }}</span>
                <a href="{{ bloque.enlace }}"><span class="codigo">{{ bloque.codigo }}</span></a>
            </li>


        {% endfor %}


    </ol>
</div>

