<ol id="fundo-region">

    {% for fila in 1..limite.filas %}

        {% for columna in 1..limite.columnas %}
            {% set estado = 'vacio' %}
            {% set idPlanta = '' %}
            {% set codigo = (columna | convertirLetra)  ~ fila %}
            {% set planta = (codigo | buscarPlanta(columna,fila)) %}

            {% if planta %}
                {% set estado = 'sembrado' %}
                {% set idPlanta = planta.id %}

            {% endif %}


            <li class="ui-state-default {{ estado }}"
                data-planta="{{ idPlanta }}"
                data-codigo="{{ codigo }}"
                data-fila="{{ fila }}"
                data-columna="{{ columna }}"
                style="width: {{ 100 / limite.columnas }}%">
                <span class="codigo">{{ codigo }}</span>
            </li>
        {% endfor %}

    {% endfor %}


</ol>