{% extends app.request.xmlHttpRequest ? "UpaoFundoBundle:Layout:modal.html.twig" :  "UpaoFundoBundle:Layout:base.html.twig" %}

{% block body %}



    <div class="modal-header">
        <h4 class="modal-title">{% block title %}Venta{% endblock %}</h4>
    </div>

    <div class="modal-body">


        {% block content %}


            <table class="record_properties table-striped">
                <tbody>
                <tr>
                    <th>Cliente:</th>
                    <td>{{ entity.idCliente.nombre }}</td>
                </tr>
                <tr>
                    <th>Cosecha:</th>
                    <td>{{ entity.idCosecha }}</td>
                </tr>
                <tr>
                    <th>Kilos Vendidos:</th>
                    <td>{{ entity.kilosVendidos }} Kg.</td>
                </tr>
                <tr>
                    <th>Observaciones:</th>
                    <td>{{ entity.observaciones }}</td>
                </tr>
                <tr>
                    <th>Costo:</th>
                    <td>S/.{{ entity.costo }}</td>
                </tr>
                </tbody>
            </table>



        {% endblock %}


    </div>

    <div class="modal-footer">

        <a href="{{ path('venta') }}" class="btn btn-primary">Regresar a la Lista</a>


    </div>

{% endblock %}


{% block javascript %}

    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>


{% endblock %}


