{% extends "UpaoFundoBundle:Layout:base.html.twig" %}

{% block body %}
    Hello sadasdsdsdsd
    fdgdf


    <div class="row">
        <div id="fundo" class="col-lg-12">

            <ol id="fundo-region">

                {% for fila in 1..limite.filas %}

                    {% for columna in 1..limite.columnas %}
                        {% set estado = 'vacio' %}
                        {% set idPlanta = '' %}
                        {% set codigo = (columna | convertirLetra)  ~ fila %}
                        {% set planta = (codigo | buscarPlanta(columna,fila)) %}

                        {% if planta %}
                            {% set estado = 'sembrado' %}
                            {% set idPlanta = planta.id %}
                        {% endif %}

                        <li class="ui-state-default {{ estado }}" data-codigo="{{ codigo }}"
                            data-planta="{{ idPlanta }}" data-fila="{{ fila }}"
                            data-columna="{{ columna }}"
                            style="width: {{ (limite.columnas/100) * 100 }}%">
                            <span class="codigo">{{ codigo }}</span>
                        </li>
                    {% endfor %}

                {% endfor %}


            </ol>

        </div>
    </div>

    <div id="options" class="row">

        <div class="col-xs-6 col-sm-4 col-lg-2">
            <button data-toggle="modal" data-target="#sembrar" type="button" class="btn btn-default btn-lg btn-block">
                Sembrar
            </button>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2">
            <button data-toggle="modal" data-target="#riego" type="button" class="btn btn-info btn-lg btn-block">Riego
            </button>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2">
            <button data-toggle="modal" data-target="#abonamiento" type="button"
                    class="btn btn-primary btn-lg btn-block">Abonamiento
            </button>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2">
            <button data-toggle="modal" data-target="#problema" type="button" class="btn btn-danger btn-lg btn-block">
                Problema
            </button>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2">
            <button data-toggle="modal" data-target="#fumigacion" type="button"
                    class="btn btn-warning btn-lg btn-block">Fumigación
            </button>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2">
            <button data-toggle="modal" data-target="#cosecha" type="button" class="btn btn-success btn-lg btn-block">
                Cosecha
            </button>
        </div>

    </div>


    {% render controller('UpaoFundoBundle:Planta:sembrar') %}


{% endblock %}

{% block javascript %}

    <script type="text/javascript">

    </script>

{% endblock %}