{% extends '::base.html.twig' %}

{% block body -%}
    <h3>Pedido</h3>

    <table class="record_properties table-striped">
        <tbody>
        <tr>
            <th>Costo:</th>
            <td>{{ entity.costo }}</td>
        </tr>
        <tr>
            <th>Cantidad de Abono:</th>
            <td>{{ entity.cantidadAbono }} Kg.</td>
        </tr>
        <tr>
            <th>Fecha</th>
            <td>{{ entity.fecha|date('Y-m-d H:i') }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('pedido') }}">
        Regresar a la lista
    </a>
    <div class="clearfix"></div>


    {{ render(controller('UpaoFundoBundle:Fundo:muestra', { 'plantas': plantas })) }}

{% endblock %}