{% extends '::base.html.twig' %}

{% block body -%}
    <h3>Cosecha</h3>

    <table class="record_properties table-striped">
        <tbody>
        <tr>
            <th>Fecha:</th>
            <td>{{ entity.fecha|date('Y-m-d H:i') }}</td>
        </tr>
        <tr>
            <th>Total Kilos:</th>
            <td>{{ entity.totalKilos }}</td>
        </tr>
        <tr>
            <th>Kilos Disponibles:</th>
            <td>{{ entity.kilosDisponibles }}</td>
        </tr>
        <tr>
            <th>Observaciones:</th>
            <td>{{ entity.observaciones }}</td>
        </tr>
        </tbody>
    </table>


    <a class="btn btn-primary" href="{{ path('cosecha') }}">
        Regresar a la lista
    </a>
    <div class="clearfix"></div>


    {{ render(controller('UpaoFundoBundle:Fundo:muestra', { 'plantas': plantas })) }}

{% endblock %}
